<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Evaluar | Login</title>

    <link rel="stylesheet" href="assets/css/base.css">
    <link rel="stylesheet" href="assets/css/login.css">
</head>
<body>

    <div class="container">
        <div class="form">
          <div class="sign-in-section">
              <h1><img src="assets/img/logo_black.svg"/></h1>
            <h1>Log in</h1>
              <div class="form-field">
                <label for="txt_user">Username</label>
                <input id="txt_user" type="text" placeholder="Username" />
              </div>
              <div class="form-field">
                <label for="txt_password">Password</label>
                <input id="txt_password" type="password" placeholder="Password" />
              </div>
              <div class="form-options">
                <div class="checkbox-field">
                  <input id="rememberMe" type="checkbox" class="checkbox" />
                  <label for="rememberMe">Remember Me</label>
                </div>
                <a href="#">Forgot Password?</a>
              </div>
              <div class="form-field">
                <input id="btn_login" type="button" class="btn-login btn-signin" value="Submit" />
              </div>
            <div class="links">
              <a href="#">Privacy Policy</a>
              <a href="#">Terms & Conditions</a> 
            </div>
          </div>
        </div>
    </div>


    <script src="assets/js/base.js"></script>
    <script src="assets/js/app.js"></script>
    <script>
        $(document).ready(function(){
      
          // Show full page LoadingOverlay
          //$.LoadingOverlay("show");
    
          //Close the LoadingOverlay
          //$.LoadingOverlay("hide");
    
          $(document).keyup(function(e){
            if(e.keyCode == 13)
            {
              login();
            }
          });
    
          $("#txt_password").keyup(function(e){
            if(e.keyCode == 13)
            {
              login();
            }
          });
    
          $("#btn_login").on("click",function(){
            login();
          });

          $("#lnk_forgot").on("click", function(){
            App.show_info("Get in contact with your Supervisor to restore your Password.");
          });

          $("#lnk_create").on("click", function(){
            App.show_info("Get in contact with your Supervisor to create a new Account.");
          });

        });
      
        async function login()
        {
          $.LoadingOverlay("show");
    
          let user = $("#txt_user").val();
          let password = $("#txt_password").val();

          data = {user,password};
          const response = await App.login(data);
          const login_information = await response.json();
          $.LoadingOverlay("hide");

          if(login_information.status == "OK")
          {
            document.location.replace('/');
          }
          else
          {
            App.show_error("User / Password not found");
          }
        }
    </script>
</body>
</html>